.Maincontent{
    background-color: #2e3039;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #2e3039;
}

th{
    background-color: rgb(41, 43, 47);
}

.BoxBorder{
    background-color: rgb(41, 43, 47);
}

select{
    background-color: rgb(39 39 40);
    color: white;
}

input{
    background-color: rgb(39 39 40);
    color: white;
}

input:hover, select:hover{
    background-color: rgb(59 59 60);
}