/**
*   Fichier css contenant les classes reprises par (quasi-)toutes les pages
*/

.flex-box{
  display: flex;
  flex-wrap: wrap;
}

/** contenant pour le contenu de la page */
.Maincontent{
    margin-left: auto;
    margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  position: relative;
  padding: 10px;
  min-height: 665px;
  min-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    height: 15px;
    width: 15px;
}

/** Images de fond utilisées sur cette page */
.Border{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

#upnav{
  min-width: 500px;
}
