/**
*  Fichier css concernant le style clair des pages
*/

.Maincontent{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/** Sélectionne tous les boutons de la page sauf celui de la barre de navigation supérieure */
button:nth-child(n+3):hover{
    background-color: rgb(208, 208, 208);
}

/** Sélectionne tous les inputs de la page sauf la barre de recherche de la barre de navigation supérieure */
input:not(:first-child):hover{
    background-color: rgb(233, 233, 233);
}

.popup{
    background-color: white;
}

.buttonModif{
    color : black;
}

.buttonModif:hover{
    color : black;
}

