/**
*   Fichier css relatifs à la page dataModifiers.js
*/

/** contenant pour les cadres .BoxBorder (voir ci-dessous) afin que ceux-ci soient affichés en colonne*/
.NameDateBorder{
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    margin : 20px 0px;
    align-items: center;
}

/** Cadres se trouvant au sommet de la page et contenant le nom et la description de l'animal/employé ainsi que la date actuelle */
.BoxBorder{
    border: solid 5px rgb(33, 120, 3);
    background-color: rgb(61, 208, 103);
    padding: 15px;
    border-radius: 25px;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
}

/** image de l'animal/employé chargé grâce à la base de données */
.dbpicture{
    max-width: 400px;
    margin: 10px;
}

/** sélection de la date pour afficher l'horaire */
.tableHeader{
    margin: 10px;
}

/** Contenant pour la table en entier */
.tableContent{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/** Modifications des bordures des cellules de la table */
table, th, td{
    border : solid 1px black;
    border-collapse: collapse;
    text-align: center;
}

th{
    height: 75px;
}

td{
    height : 50px;
}

/** Style du bouton de soumission */
.submitButton{
    margin: 10px;
    width: 125px;
    height: 34px;
    border-radius: 30px;
}

/** Boutons se trouvant dans le pop-up et qui permet de l'ouvrir/fermer/soumettre */
.buttonModif{
    margin-top: 5px;
    border: solid 2px rgb(33, 120, 3);
    background-color: rgb(61, 208, 103);
    border-radius : 10px;
    text-decoration: none;
    padding : 3px;
    margin-left: 5px;
    height : 31.5px;
    text-align: center;
}

.buttonModif:hover{
    background-color: rgb(71, 197, 107);
}

/** Cadre contenant le pop-up */
.popup{
    position: fixed;
    width : 50%;
    left : 25%;
    top : calc(15% + 72px);
    display: none;
    z-index: 1;
    margin : 0px;
    border: 5px solid rgb(33, 120, 3);
    border-radius : 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : 20px;
    flex-wrap: wrap;
}

/** 2 boutons se trouvant au dessous du pop-up */
.foot{
    align-self: center;
}

/** Un des éléments repris dans le pop-up (chaque input) */
.popupElement{
    margin-top: 20px;
}

/** input de description */
#desc , input[type="text"]{
    width : 80%;
}

/** barre pour sélectionner l'heure */
input[type="range"]{
    width: 90%;
    -webkit-appearance: none !important;
    background: rgb(166,166,166);
    height: 7px;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    background: rgb(4,147,2);
    height: 10px;
    width: 10px;
}

@media (max-width:700px){

    /** suppression des bordures sur petit écran */
    .Maincontent{
        width: 100%;
        left: 0%;
    }

    .popup{
        width : 70%;
        left : 15%;
        top : calc(15% + 72px);
    }
}

@media (max-width:500px){
    .popup{
        width : 99%;
        left : 1%;
        top : calc(15% + 72px);
    }

    input[type="file"]{
        width : 135px;
    }
}