/**
*   Fichier css relatifs à la page dataModifiers.js
*/


/** contenant pour le contenu de la page */
.Maincontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    position: relative;
    left: 12.5%;
    min-height: 665px;
    min-width: 500px;
}

/** contenant pour les cadres .BoxBorder (voir ci-dessous) afin que ceux-ci soient affichés en colonne*/
.NameDateBorder{
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    margin : 20px 0px;
    align-items: center;
}

/** Cadres se trouvant au sommet de la page et contenant le nom et la description de l'animal/employé ainsi que la date actuelle */
.BoxBorder{
    border: solid 5px rgb(33, 120, 3);
    background-color: rgb(61, 208, 103);
    padding: 15px;
    border-radius: 25px;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
}

/** image de l'animal/employé chargé grâce à la base de données */
.dbpicture{
    max-width: 400px;
    margin: 10px;
}

/** sélection de la date pour afficher l'horaire */
.tableHeader{
    margin: 10px;
}

/** Contenant pour la table en entier */
.tableContent{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/** Modifications des bordures des cellules de la table */
table, th, td{
    border : solid 1px black;
    border-collapse: collapse;
    text-align: center;
}

th{
    height: 75px;
}

td{
    height : 50px;
}

/** Style du bouton de soumission */
.submitButton{
    margin: 10px;
    width: 125px;
    height: 34px;
    border-radius: 30px;
}

/** Images de fond utilisées sur cette page */
.Border{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonModif{
    margin-top: 5px;
    border: solid 2px rgb(33, 120, 3);
    background-color: rgb(61, 208, 103);
    border-radius : 10px;
    text-decoration: none;
    padding : 3px;
    margin-left: 5px;
    height : 31.5px;
    text-align: center;
}

.buttonModif:hover{
    background-color: rgb(71, 197, 107);
}

.popup{
    position: absolute;
    width : 50%;
    left : 25%;
    top : calc(15% + 72px);
    display: none;
    z-index: 1;
    margin : 0px;
    border: 5px solid rgb(33, 120, 3);
    border-radius : 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : 20px;
    min-width: 350px;
}

.foot{
    align-self: center;
}

.popupElement{
    margin-top: 20px;
}

#desc , input[type="text"]{
    width : 80%;
}

input[type="range"]{
    width: 90%;
}

@media (max-width:700px){

    /** suppression des bordures sur petit écran */
    .Maincontent{
        width: 100%;
        left: 0%;
    }

    .popup{
        width : 70%;
        left : 15%;
        top : calc(15% + 72px);
    }
}