/**
*   Fichier css de la page d'affichage des animaux et des employés
*/

.Maincontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    position: relative;
    min-height: 50vw;
    min-width: 500px;
}

.NameDateBorder{
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    margin : 20px 0px;
    align-items: center;
}

.BoxBorder{
    border: solid 5px rgb(33, 120, 3);
    background-color: rgb(61, 208, 103);
    padding: 15px;
    border-radius: 25px;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
}

.dbpicture{
    width: 80%; 
    height : 65%;
    margin: 10px;
}

.schedule{
    background-color: rgb(255,255,255);
    border: 3px solid rgb(63,89,133);
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding :10px
}

/** Modifications des bordures des cellules de la table */
table, th, td{
    border : solid 1px black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    
}

th{
    height: 75px;  
}

td{
    height : 50px;
}

@media (max-width:700px){

    .Maincontent{
        width: 100%;
        left: 0%;
    }
}