/**
*   Fichier css de la page d'affichage des animaux et des employés
*/

.Maincontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    position: relative;
    left: 12.5%;
    min-height: 50vw;
    min-width: 500px;
}

.NameDateBorder{
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    margin : 20px 0px;
    align-items: center;
}

.BoxBorder{
    border: solid 5px rgb(33, 120, 3);
    background-color: rgb(61, 208, 103);
    padding: 15px;
    border-radius: 25px;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
}

.dbpicture{
    width: 80%; 
    height : 65%;
    margin: 10px;
}

@media (max-width:700px){

    .Maincontent{
        width: 100%;
        left: 0%;
    }
}