<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">

    <link href="style/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href = "style/general.css">
    <link rel = "stylesheet" href = "style/Modification.css">
    <link rel="stylesheet" href="../style/log.css">
    <link rel = "stylesheet" href = "style/{{Mode}}Version.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/log.js" type="text/javascript"></script>

    <title>Inscription</title>

</head>
<body onload="loadUpnav(), loadError()">
    <div id="upnav"></div>
<div class="flex-box">
<input type="hidden" value="{{error}}" id="error">
<!--formulaire pour les animaux-->
<form action="createAnimal.html" method="post" class="box">
    <h1>Ajouter un animal</h1>

    <label for="nameAnimal"><b>Nom</b></label>
    <input type="text" id="nameAnimal" name="nameAnimal" onchange="checkAnimalAvailable()" required>

    <label for="descriptionAnimal"><b>Description</b></label>
    <input type="text" id="descriptionAnimal" name="descriptionAnimal" required>
    
    <button type="submit" class = "link-report upperbox">Enregistrer</button>
</form>

<!--formulaire pour les employés-->
<form action="createEmployee.html" method="post" class="box">
    <h1>Ajouter un employé</h1>

    <label for="nameEmployee"><b>Nom_Prénom </b><input type="checkbox" id="admin" name="admin" value=true><sup>Admin</sup></label>
    <input type="text" id="nameEmployee" name="nameEmployee" required>

    <label for="descriptionEmployee"><b>Description</b></label>
    <input type="text" id="descriptionEmployee" name="descriptionEmployee" required>

    <label for="startHour"><b>Horaire &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="horaire"></span></b></label>
    <input type="range" id="startHour" name="startHour" value="12" min="0" max="23.5" step="0.5" oninput="printheure()">
    <input type="range" id="endHour" name="endHour" value="12" min="0" max="23.5" step="0.5" oninput="printheure()">

    <label for="connmdp"><b>Mot de passe </b><input type="checkbox" onclick="AfficherMDP()"><sup>Voir</sup></label>
    <!-- Empêche d'entrer des espaces-->
    <input type="password" id="connmdp" name="connmdp" onchange="checkmdp()" onkeypress="return event.charCode != 32" required>

    <label for="confmdp"><b>Répétez le mot de passe</b></label>
    <!-- Empêche d'entrer des espaces-->
    <input type="password" id="confmdp" name="confmdp" onchange="checkmdp()" onkeypress="return event.charCode != 32" required>
    <button type="submit" class = "link-report upperbox">Enregistrer</button>
</form>
</div>

<img  class="Border" style="background-image : url(/images/{{imageMode}})">
<script type="text/javascript" src="script.js"></script>

</body>
</html>